

.center{
  text-align: center;
  font-family: 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  margin: 270px 570px;
  border: black 3px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;

  
}

body{
  background-color: rgb(0,0,0);
}